 @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 /* MObile */
 @media (max-width: 480px) {
     .about-heading {
         font-size: 20px;
     }

     .name h1 {
         font-size: 32px;
     }
 }

 /* Tablet */
 @media (max-width: 768px) {
     .about-heading {
         font-size: 22px;
     }

     .me {
         flex-direction: column;
         text-align: center;
     }
 }
html{
    scroll-behavior: smooth;
}
 /* Reset */

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: "Poppins", sans-serif;
     background-color: #0f172a;
     color: #ffffff;
 }

 /* section */
 section {
     padding: 60px 20px;
     background-color: #1e293b;
 }

 /* Heading / Navbar */
 header {
     position: sticky;
     top: 0;
     z-index: 10;
 }

 nav {
     background-color: #020927;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 12px;
     position: relative;
     z-index: 1;
 }

 nav ul {
     display: flex;
     font-size: 20px;
     gap: 25px;
     /* color: white; */
 }

 nav ul li {
     list-style: none;
 }

 nav a {
     color: white;
     text-decoration: none;
     font-weight: 500;
 }

 /* Hero Section */
 .hero {
     background-image: url(Images/city.jpg);
     height: 50vh;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     background-position: center center;
     background-size: max(1200px, 100vw);
     background-repeat: no-repeat;
 }

 .hero .box {
     background-color: rgba(15, 23, 42, 0.7);
     position: absolute;
     inset: 0;

 }

 .name {
     color: white;
     position: relative;
     text-align: center;
 }

 .name h1 {
     font-size: 42px;
 }

 .name p {
     margin-top: 18px;
     font-size: 18px;
 }

 .btn {
     display: inline-block;
     margin-top: 20px;
     padding: 12px 28px;
     background-color: #38bdf8;
     color: #000;
     border-radius: 6px;
     text-decoration: none;
     font-weight: 600;
     box-shadow: 0 0 10px #38bdf8;
     transition: 0.4s;
 }

 .btn:hover {
    transform: scale(1.08);
     box-shadow: 0 0 30px #38b2e6;
     background-color: #84cfef;
     color: #1e1e1e;
 }

 /* About Section */

 .About-Heading {
     font-size: 26px;
     font-weight: 600;
     line-height: 1.4;
     max-width: 900px;
     margin: 0 auto 30px;
     text-align: center;
 }
.about-me h2:first-child{
    text-align: center;
    font-size: 28px;
    text-decoration: underline;
    margin-bottom: 15px;
}
 .me {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: auto;
     max-width: 80%;
     gap: 20px;
     margin-top: 40px;
 }

 .me img {
     height: 150px;
     border-radius: 10px;
     border: 2px solid #f6eaea;
 }

 .me div {
     font-family: "Martel Sans", sans-serif;
     font-size: 16px;
     font-weight: 700;
 }

 /* Skills Section */
 .skills {
     background-color: #1e293b;
     text-align: center;
 }

 .skills h2 {
     margin-bottom: 20px;
     text-decoration: underline;
 }

 .skil {
     max-width: 700px;
     margin: auto;
     font-size: 22px;
     font-weight: 600;
     line-height: 1.5;
 }

 .logo {
     font-size: 20px;
     font-weight: 500;
     margin-top: 20px;
 }

 /* Projects Section */
 .projects {
     padding: 50px 20px;
     text-align: center;
 }
.projects h2{
    text-decoration: underline;
    font-size: 28px;
}
 .project-container {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     gap: 20px;
     margin-top: 30px;
 }

 .project-card {
     /* border: 1px solid #ddd; */
     padding: 20px;
     border-radius: 8px;
     background: #334155;
     transition: 0.3s;
     color: white;
 }

 .project-card:hover {
     transform: scale(1.08);
     box-shadow: 0 10px 30px rgb(140, 138, 138);
 }

 .project-links {
     margin-top: 15px;
 }

 .project-links a {
     display: inline-block;
     margin: 5px;
     padding: 8px 15px;
     text-decoration: none;
     background: #007bff;
     color: white;
     border-radius: 5px;
     font-size: 16px;
     font-weight: 600;
     transition: 0.3s;
 }

 .project-links a:hover {
     background: #66abf4;
     transform: scale(1.07);
     box-shadow: 0 0 20px #73b2f5;

 }

 /* Contact Section */
 .contact {
     background-color: #1e293b;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .contact form h2 {
     text-decoration: underline;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .contact form {
     background: #334155;
     color: white;
     padding: 25px;
     width: 100%;
     max-width: 500px;
     display: flex;
     flex-direction: column;
     gap: 12px;
     border-radius: 10px;
     transition: 0.5s;
 }

 .contact form:hover {
     transform: scale(1.05);
     box-shadow: 0 0 30px rgb(17, 17, 17);
 }

 .contact input,
 .contact textarea {
     width: 100%;
     padding: 12px 14px;
     font-size: 16px;
     border-radius: 6px;
     border: 1px solid #475569;
     background: #0f172a;
     color: #ffffff;
     outline: none;
     box-sizing: border-box;
 }

 .contact textarea {
     min-height: 120px;
     resize: vertical;
 }

 .contact button {
     padding: 10px;
     background: #38bdf8;
     color: #000;
     font-weight: 700;
     font-size: 18px;
     border: none;
     cursor: pointer;
     border-radius: 10px;
     transition: 0.4s;
 }

 .contact button:hover {
     box-shadow: 0 0 20px #38bdf8;
 }

 /* Footer */
 footer {
     background-color: #020617;
     color: white;
     height: 10vh;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
 }

 footer h1 {
     font-size: 20px;
 }

 .foot {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;

 }

 .what img {
     border-radius: 70px;
     position: absolute;
     z-index: 10;
     bottom: 10px;
     right: 5px;
     width: 40px;
 }

 /* Vertical Line */
 .line {
     width: 1px;
     border: 1px solid #475569;
     height: 28px;

 }

 /* Verical Line */
 .ver-line {
     background-color: white;
     width: 99vw;
     height: 1px;
     border: 1px white;
 }